name: FastAPI CI/CD Pipeline

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      # Checkout code
      - name: Checkout repository
        uses: actions/checkout@v3

      # Setup Python
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      # Install dependencies
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          if [ -f requirements.txt ]; then pip install -r requirements.txt; fi

      # Run tests (skip if no tests)
      - name: Run tests
        run: |
          echo "No tests added yet"

      # Login to GHCR
      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      # # Build Docker image
      # - name: Build Docker image
      #   run: |
      #     docker build -t ghcr.io/${{ github.repository_owner }}/fastapi-app:latest .

      # # Push Docker image
      # - name: Push Docker Image
      #   run: |
      #     docker push ghcr.io/${{ github.repository_owner }}/fastapi-app:latest



      # Build Docker image
      - name: Build Docker image
        run: |
             docker build -t ghcr.io/vaishnavigupta-a11y/fastapi-app:latest .

      # Push Docker image
      - name: Push Docker Image
        run: |
           docker push ghcr.io/vaishnavigupta-a11y/fastapi-app:latest
      # OPTIONAL: Deploy (e.g., to SSH Server)
      # - name: Deploy over SSH
      #   uses: appleboy/ssh-action@v0.1.6
      #   with:
      #     host: ${{ secrets.SERVER_IP }}
      #     username: ${{ secrets.SERVER_USER }}
      #     key: ${{ secrets.SERVER_SSH_KEY }}
      #     script: |
      #       docker pull ghcr.io/${{ github.repository_owner }}/fastapi-app:latest
      #       docker stop fastapi || true
      #       docker rm fastapi || true
      #       docker run -d -p 8000:8000 --name fastapi ghcr.io/${{ github.repository_owner }}/fastapi-app:latest
